<!DOCTYPE html>
<html lang="en" xmlns: layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<!-- Navigation -->
<div layout:fragment="My_navbar">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/students">Students</a></li>
            <li><a href="/search">search</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" sec:authorize="!isFullyAuthenticated()">
            <li><a  href="/signUp"><span class="glyphicon glyphicon-user fontawesome-lock"></span> Sign Up</a></li>
            <li><a  href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>

            <ul class="nav navbar-nav navbar-right" sec:authorize="isFullyAuthenticated()">
                <li class="nav-item" ><a  class="nav-link" >Welcome,<span  sec:authentication="name"></span></a></li>
                <li class="nav-item" ><a class="nav-link" th:href="@{/logout}" methods="post"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
            </ul>
    </div>
</nav>

</div>
</body>

</html>