<!DOCTYPE html>
<html lang="en" xmlns: layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div layout:replace="/fragments/headers.html :: My_header"></div>
</head>
<body>
    <div layout:replace="/fragments/navbar.html :: My_navbar"></div>
    <div layout:replace="/fragments/footer.html :: My_footer"></div>
</body>

</html>